<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SongServlet</servlet-name>
        <servlet-class>controller.SongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaylistServlet</servlet-name>
        <servlet-class>controller.PlaylistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVipStatusServlet</servlet-name>
        <servlet-class>controller.UpdateVipStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMySongServlet</servlet-name>
        <servlet-class>controller.GetMySongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>controller.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPlaylistServlet</servlet-name>
        <servlet-class>controller.GetPlaylistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistoryServlet</servlet-name>
        <servlet-class>controller.GetHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPlaylistServlet</servlet-name>
        <servlet-class>controller.MyPlaylistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchServlet</servlet-name>
        <servlet-class>controller.GetSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchNameServlet</servlet-name>
        <servlet-class>controller.GetSearchNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SongServlet</servlet-name>
        <url-pattern>/SongServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVipStatusServlet</servlet-name>
        <url-pattern>/UpdateVipStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaylistServlet</servlet-name>
        <url-pattern>/PlaylistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMySongServlet</servlet-name>
        <url-pattern>/GetMySongServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/HomepageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPlaylistServlet</servlet-name>
        <url-pattern>/GetPlaylistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistoryServlet</servlet-name>
        <url-pattern>/GetHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPlaylistServlet</servlet-name>
        <url-pattern>/MyPlaylistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchServlet</servlet-name>
        <url-pattern>/GetSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchNameServlet</servlet-name>
        <url-pattern>/GetSearchNameServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/HomepageServlet</welcome-file>
    </welcome-file-list>
</web-app>
